@model IEnumerable<Book>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
    <h1>Books</h1>

    <table>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Публикация</th>
            <th>Город публикации</th>
            <th>Язык</th>
        </tr>

        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Name</td>
                <td>@book.Description</td>
                <td>@book.Publication</td>
                <td>@book.PublicationCity</td>
                <td>@book.Language</td>
                <td><a href="Book/Details?id=@book.Id">Details</a></td>
            </tr>
        }
    </table>
</body>
</html>