@model IEnumerable<Book>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
    <h1>Books</h1>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Название</th>
                <th>Публикация</th>
                <th>Город публикации</th>
                <th>Язык</th>
                <th>Подробно</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Name</td>
                    <td>@book.Publication</td>
                    <td>@book.PublicationCity</td>
                    <td>@book.Language</td>
                    <td><a href="Book/Details?id=@book.Id">Details</a></td>
                </tr>
            }
           
        </tbody>
    </table>
</body>
</html>