@model User
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="@Model.PicUrl"><span t-bold">@Model.FirstName</span><span class="text-black-50">@Model.LastName  @Model.MiddleName</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Профиль</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Фамилия</label><input type="text" class="form-control" placeholder="@Model.FirstName" readonly="True" value=""></div>
                    <div class="col-md-6"><label class="labels">Имя</label><input type="text" class="form-control" value="" placeholder="@Model.LastName" readonly="True"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Отчество</label><input type="text" class="form-control" placeholder="@Model.MiddleName" value="" readonly ="True"></div>
                    <div class="col-md-12"><label class="labels">Дата рождения</label><input type="text" class="form-control" placeholder="@Model.DateOfBirth" readonly="True" value=""></div>
                    <div class="col-md-12"><label class="labels">Категория</label><input type="text" class="form-control" placeholder="@Model.Role.Name" readonly="True" value=""></div>
                    <div class="col-md-12"><label class="labels">Номер телефона</label><input type="text" class="form-control" placeholder="@Model.PhoneNumber" readonly="True" value=""></div>
                    <div class="col-md-12"><label class="labels">Электронная почта</label><input type="text" class="form-control" placeholder="@Model.Email" readonly="True" value=""></div>
                    <div class="col-md-12"><label class="labels">Пол</label><input type="text" class="form-control" placeholder="@Model.Sex" readonly="True" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Страна</label><input type="text" class="form-control" placeholder="@Model.Country" readonly="True" value=""></div>
                    <div class="col-md-6"><label class="labels">Область</label><input type="text" class="form-control" readonly="True" value="" placeholder="@Model.Region"></div>
                    <div class="col-md-6"><label class="labels">Город</label><input type="text" class="form-control" readonly="True" value="" placeholder="@Model.City"></div>
                </div> 
              @*   <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Изменить профиль</button></div> *@
                <div><a href="../User/Edit?id=@Model.Id" class="btn btn-primary">Изменить</a></div>
             
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                @*<div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div> *@
            </div>
        </div>


        <h1>Список оформленных книг</h1>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Идентификатор</th>
                    <th>Название</th>
                    <th>Публикация</th>
                    <th>Город публикации</th>
                    <th>Язык</th>
                    <th>Дата оформления</th>
                    <th>Дата возврата</th>
                    <th>Подробнее</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.BookUsers)
                {
                    <tr>
                        <td>@book.Book.Id</td>
                        <td>@book.Book.Name</td>
                        <td>@book.Book.Publication</td>
                        <td>@book.Book.PublicationCity</td>
                        <td>@book.Book.Language</td>
                        <td>@book.Book.IssueDate</td>
                        <td>@book.Book.RetunDate</td>
                        <td><a href="../Book/Details?id=@book.BookId">Details</a></td>
                    </tr>
                }

            </tbody>
        </table>





    </div>
</div>
</div>
</div>